/* motorista-pedido.component.css */

.header-container {
  text-align: center;
  margin: 20px 0;
}

.pedidos-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.pedido-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #75cfff;
  border-radius: 8px;
  background-color: #333843;
}

.pedido-item:hover {
  background-color: #1b232d;
}

.pedido-info {
  flex: 1;
  display: flex;
  gap: 50px;
}


.pedido-actions {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.btn-aceitar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-rejeitar {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-aceitar:disabled,
.btn-rejeitar:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn-aceitar:hover:not(:disabled) {
  background-color: #45a049;
}

.btn-rejeitar:hover:not(:disabled) {
  background-color: #da190b;
}

/* Media queries para diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  .pedido-item {
    flex-direction: column;
  }
  
  .info {
    min-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .pedidos-list {
    padding: 10px;
  }
  
  .pedido-item {
    padding: 10px;
  }
  
  .info {
    font-size: 14px;
  }
}