<div class="header-container">
  <h2>Lista de Pedidos</h2>
</div>

<div class="pedidos-list">
  <div *ngFor="let pedido of pedidos" class="pedido-item">
    <div class="pedido-info">
      <span class="info"><strong>Origem:</strong> {{pedido.origem.rua}}</span>
      <span class="info"><strong>Destino:</strong> {{pedido.destino.rua}}</span>
      <span class="info"><strong>Distância:</strong> {{pedido.distancia}} km</span>
      <span class="info"><strong>Nº de Passageiros:</strong> {{pedido.nmrPessoas}}</span>
    </div>
  
    <div class="pedido-actions">
      <button class="btn-aceitar" (click)="aceitarPedido(pedido)">Aceitar</button>
      <button class="btn-rejeitar" (click)="rejeitarPedido(pedido)">Rejeitar</button>
    </div>
  </div>
</div>

